*.py[cod]
server/conf/secret_at_initial_setup.py
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
libé4
__pycache__

# Other
*.swp
*.log
*.pid
*.restart
*.db3
*.exe
*.bat

# Installation-specific.
# For group efforts, comment out some or all of these.
server/conf/secret_settings.py
server/logs/*.log.*
server/ssl.cert
server/ssl.key
web/static/*
web/media/*
world/areas

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm config
.idea
