# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
bui.egg-info
build
dist
pyenv

# Test and coverage
.coverage
htmlcov

# Log files
*.log

# Database
*.db
*.db-journal

# Private settings
src/blueprints/*
src/settings/private.py
*.cert
*.key

# TalisMUD build scripts
src/game
src/game.exe
src/graphical.exe
src/lib
src/portal
src/portal.exe
src/python3*.dll
src/talismud
src/talismud.exe
src/vcruntime*.dll