{% extends "base.html" %}
{% block titleblock %}Batch pour les bâtisseurs{% endblock %}
{% block content %}
<h2>Batch en YML</h2>
<p>Bâtir par batch permet de créer de nombreuses salles ou autres informations (comme une zone complète) en mettant en ligne un simple fichier au format YAML.</p>
{% if messages %}
<h2>Résultat</h2>
<ul>
{% for message in messages %}
{% if message.2 %}
<li>
{% if message.1 > 0 %}
Ligne {{ message.1 }} :
{% endif %}
{{ message.2|safe }}</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
<h2>Mise en ligne</h2>
<form enctype="multipart/form-data" method="post" action=""/builder/batch/">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Mettre en ligne" />
</form>
{% endblock %}
