[run]
command_line = -m unittest
source =
    blueprints
    command.args
    command.special
    command.base
    command.layer
    command.stack
    context
    data
    process
    scripting
    service
    web

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

ignore_errors = True
